#python ka chilla
##how to use jupiter notebook
###our basics of python
1-my first program
2-my second program

01_first_program

In [1]:
#my first program at jupiter
print(2+3)
print("hello Wprld")
print("we are learning python with aammar")

5
hello Wprld
we are learning python with aammar

02_operators

In [2]:
print(2+1)
print(3-1)
print(6/2)
print(2*3)
print(13%2)
print(6//2)
print(3**2)
print(3**4/2*3/3+6-4)

3
2
3.0
6
1
3
9
42.5

PEMDAS
 paranthesis Exponents Multiply Divide Addition Substraction
#left to right sequence for M D & A S

03_strings

In [3]:
print("hello Wprld")
print("we are learning python with aammar")
print('test for single quotes')
print("test fot double quotes")
print('''test for tripple quotes''')
print("what's up")

hello Wprld
we are learning python with aammar
test for single quotes
test fot double quotes
test for tripple quotes
what's up

04_comments

In [4]:
print("How are you?")  #press these to comment out (ctrl+/)
print("we are learning python with Aammar")   #print a string
print(4+6) #print the operators

How are you?
we are learning python with Aammar
10

05_variables

In [5]:
# x=6
# print(x)
# y="we are learning python with aammar"
# print(y)
fruit_backets=(8)
# fruit_backets=("mangoes")
print(fruit_backets)

8

06_input_variables

In [6]:
# fruit_baskets=input("what is your favourite fruit? ")
# print(fruit_basketsa)



# name=input("what is your favourite fruit? ")
# greetings="Hello"

# print(greetings,name)



name=input("what is your name? ")
age=input(" How old are you ")
greetings="Hello"

print(name,age,greetings,"I am still young")

what is your name? abubakar
 How old are you 18
abubakar 18 Hello I am still young

07_conditional_logic

In [7]:
# logical operator are either true and False yes and no and 0 and 1
# equal to                        ==
# not equal to                    !=
# less than                        <
# greater than                     >
# less than and equal to          <=
# greater than and equal to       >=

#is 4 equal to 4
# print(4==4)
# print(4!=4)
# print(4>3)
# print(4<3)
# print(9<=3)
# print(6>=5)

# application of logical operators
# hammad_age=4
# age_at_school=5
# print(hammad_age==age_at_school)



age_at_school=5
hammad_age=input("how old are you?  ")
hammad_age=int(hammad_age)
print(type(hammad_age))
print(hammad_age==age_at_school)

how old are you?  18
<class 'int'>
False

08_type_conversion

In [8]:
# x= 10
# y= 10.2          
# z= "Hello"       
# x=x+y
# print(x)


age= input("what is your age?")
age=int(age)
print(age,type(age))

what is your age?18
18 <class 'int'>

09_if_else_elsy

In [9]:
hammad_age= 4
required_age_at_school= 5

if hammad_age==required_age_at_school:
    print("hammad can go to school")
elif hammad_age>required_age_at_school:
    print("hammad should join higher secondary school")
elif hammad_age <=2:
    print("you should take care of hammad it is still baby")
else:
    print("hammad can not go to school")

hammad can not go to school

10_functions

In [10]:
# print("we are learning with aammar")
# print("we are learning with aammar")
# print("we are learning with aammar")


# # defining a function

# def print_codanics():
#     print("we are learning with aammar")
#     print("we are learning with aammar")
#     print("we are learning with aammar")
# 2nd

# def print_codanics():
#     text="abubakar"
#     print(text)
#     print(text)
#     print(text)

# # 3rd
# def print_codanics(text):
#     print(text)
#     print(text)

# print_codanics("abubakar")

# defining a function with if ,else elif

# def school_calculator(age, text):
#     if age==5:
#         print("hammad can join the school")
#     elif age>5:
#         print("hammad should go to higher school")
#     else:
#         print("hammad is a still a baby")
# school_calculator(5,"hammad")

# defining future age function

def future_age(age):
    new_age=age+32
    return new_age
future_age(20)

future_predicted_age= future_age(20)
print(future_predicted_age)

52

11_loops

In [11]:
#while loops
#for loops

# x=0
# while (x<=5):
#     print(x)
#     x=x+1

#for loop

# for x in range(3,11):
#     print(x)

#array
days = ["mon","tue","wed","thu","fri"]

for d in days:
    if (d=="fri"):continue
    print(d)

mon
tue
wed
thu

12_import_libraries

In [12]:
# # if you want to print the valut of pi
# import math
# print("the value of pi is", math.pi)

import statistics

z=[150,259,888,456]
print(statistics.mean(z))

438.25

In [13]:
13_trouble_shooting

SyntaxError: invalid decimal literal (4037738880.py, line 1)

In [ ]:
# trouble shooting
# print("we are learning with aammar")

# print(25/0)     #runtime error




name= "Aammar"
print("Hello" ,name)